<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDO project</title>
</head>
<body>
<h3>примеры реализации шаблонов проектирования</h3>
<ul>
    <li><a href="{{ path('abstract-factory') }}">Абстрактная фабрика</a></li>
    <li><a href="{{ path('decorator') }}">Декоратор</a></li>
    <li><a href="{{ path('observer') }}">Наблюдатель</a></li>
</ul>
</body>
</html>