{% extends 'base.html.twig' %}

{% block title %}
    PDO project
{% endblock %}

{% block body %}
    <h3>примеры реализации шаблонов проектирования</h3>
    <ul>
        <li><a href="{{ path('abstract-factory') }}">Абстрактная фабрика</a></li>
    </ul>
{% endblock %}

